body {
  margin: 0;
  background-color: gray;
  font-family: var(--font-league);
}

header {
  padding: 0 1rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

img {
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  img {
    transition: transform 0.2s ease;
  }
}