@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --primary-white: hsl(0, 100%, 100%);
  --primary-grey-500: hsl(0, 0%, 63%);
  --primary-grey-800: hsl(0, 0%, 27%);
  --primary-black: hsl(0, 0%, 0%);

  --font-league: "League Spartan", sans-serif;
  --font-size: 1rem;
}
