.home__images {
  top: 0;
  width: 100%;
  position: relative;
}

.home__carousell {
  display: flex;
  gap: 1rem;
  overflow-x: hidden;
  width: 100%;
  scroll-snap-type: x mandatory;
}

.home__carousell img,
.home__carousell picture {
  flex: 0 0 100%;
  width: 100%;
  scroll-snap-align: center;
}

.carousell__btn {
  position: absolute;
  bottom: 0;
  display: flex;
  right: 0;
}

.btn--prev,
.btn--next {
  border: none;
  background-color: var(--primary-black);
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.carousell__btn > button:hover,
.carousell__btn > button:focus-visible {
  background-color: var(--primary-grey-800);
}

@media (width > 62.5rem) {
  .carousell__btn {
    left: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  img {
    transition: transform 0.2s ease;
  }
  .carousell__btn button {
    transition: background .2s;
  }
}
